@import "_reset";

.bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.header{
    background-image: url(/images/banner-landscape.jpg);
    height: 500px;

    &__nav{
        text-align: right;
        font-size: 25px;
        padding: 15px 0;

        & .menu-icon{
            padding: 30px;
        }
    }

    &__text{
        padding: 100px;

        & .text{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 50%;
        }
    }

    & hr{
        border: 1.5px solid;
        margin: 20px 0;
    }
    &__button{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border: 2px solid white;
        width: 40%;
        height: 25px;
    }
}

.container{
    display: grid;
    grid-template-columns: repeat(5, auto);

    & .item1, .item5 {
        grid-column-start:1;
        grid-column-end:3;

    }

    & .item3, .item8 {
        grid-column-start:1;
        grid-column-end:4;

    }

    & .item4, .item9 {
        grid-column-start:4;
        grid-column-end:6;
    }

    & .item2, .item6 {
        grid-column-start:3;
        grid-column-end:6;
    }
    
    & .item7{
        grid-column-start:1;
        grid-column-end:6;
        border: 1px solid red;
    }

    & .item1 {
        background-image: url(/images/banner-person.jpg);

        & .bg-color {
            background-color: rgba(7, 189, 250, 0.561);
            height: 100%;
            position: relative;
        }
    }

    & .item2 {
        background-image: url(/images/banner-city.jpg);

        & .bg-color {
            background-color: rgba(120, 7, 250, 0.561);
            height: 100%;
            position: relative;
        }
    }

    & .item3 {
        background-image: url(/images/banner-mountains.jpg);

        & .bg-color {
            background-color: rgba(250, 96, 7, 0.561);
            height: 100%;
            position: relative;
        }
    }

    & .item4 {
        background-image: url(/images/banner-fox.jpg);

        & .bg-color {
            background-color: rgba(218, 186, 44, 0.561);
            height: 100%;
            position: relative;
        }
    }


    & .item5 {
        background-image: url(/images/banner-station.jpg);

        & .bg-color {
            background-color: rgba(19, 129, 192, 0.561);
            height: 100%;
            position: relative;
        }
    }


    & .item6 {
        background-image: url(/images/banner-camera.jpg);

        & .bg-color {
            background-color: rgba(79, 219, 36, 0.561);
            height: 100%;
            position: relative;
        }
    }

    .content{
        position: absolute;
        top: 150px;
        left: 25px;
        width: 160px;

        & h2, p {
            margin: 0;
        }
    }

    .item7{
        background-color: rgb(34, 34, 34);
        height: 200px;
        padding: 25px;

        & .line{
            width: 150px;

            & hr{
                border: 1px solid;
            }    
        }
        
        &__button{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            border: 2px solid white;
            width: 15%;
            height: 25px;
        }  
    }
}