@import "_reset";

.bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    border: 1px solid white;
    border-radius: 50%;
    color: rgba(38, 41, 70, 0.932);
    padding: 5px;
    margin: 15px;
    background-color: white;
}

.header{
    background-image: url(/images/banner-landscape.jpg);
    height: 500px;

    &__nav{
        text-align: right;
        font-size: 25px;
        padding: 15px 0;

        & .menu-icon{
            padding: 30px;
        }
    }

    &__text{
        padding: 100px;

        & .text{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 70%;
        }
    }

    & hr{
        border: 1.5px solid;
        margin: 20px 0;
    }
    &__button{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        border: 2px solid white;
        max-width: fit-content;
        height: 25px;
    }
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & .item1, .item5 {
        grid-column-start:1;
        grid-column-end:3;

    }

    & .item3, .contact-form {
        grid-column-start:1;
        grid-column-end:4;

    }

    & .item4, .contact-details {
        grid-column-start:4;
        grid-column-end:6;
    }

    & .item2, .item6 {
        grid-column-start:3;
        grid-column-end:6;
    }
    
    & .item7{
        grid-column-start:1;
        grid-column-end:6;
    }

    & .item1 {
        background-image: url(/images/banner-person.jpg);

        & .bg-color {
            background-color: rgba(7, 189, 250, 0.705);
            height: 100%;
            position: relative;
        }
    }

    & .item2 {
        background-image: url(/images/banner-city.jpg);

        & .bg-color {
            background-color: rgba(120, 7, 250, 0.699);
            height: 100%;
            position: relative;
        }
    }

    & .item3 {
        background-image: url(/images/banner-mountains.jpg);

        & .bg-color {
            background-color: rgba(250, 96, 7, 0.671);
            height: 100%;
            position: relative;
        }
    }

    & .item4 {
        background-image: url(/images/banner-fox.jpg);

        & .bg-color {
            background-color: rgba(218, 186, 44, 0.692);
            height: 100%;
            position: relative;
        }
    }


    & .item5 {
        background-image: url(/images/banner-station.jpg);

        & .bg-color {
            background-color: rgba(19, 129, 192, 0.705);
            height: 100%;
            position: relative;
        }
    }


    & .item6 {
        background-image: url(/images/banner-camera.jpg);

        & .bg-color {
            background-color: rgba(79, 219, 36, 0.671);
            height: 100%;
            position: relative;
        }
    }

    .content{
        position: absolute;
        top: 150px;
        left: 25px;
        width: 160px;

        & h2, p {
            margin: 0;
        }
    }

    .item7{
        background-color: rgba(61, 66, 105, 0.932);
        height: 230px;
        padding: 25px;

        & .line{
            width: 150px;

            & hr{
                border: 1px solid;
            }    
        }
        
        &__button{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            border: 2px solid white;
            width: 150px;
            height: 25px;
        }  
    }

    .contact-form{
        background-color: rgba(38, 41, 70, 0.932);
        height: 330px;
        padding: 25px;
        
        & label{
            gap: 20px 0;
        }

        & input{
            background-color: rgba(61, 66, 105, 0.932);
            border: none;
            margin: 20px 0;
        }

        & .flex{
            justify-content: space-between;

            & input{
                height: 25px;
            }
        }

        & .message input{
            width: 100%;
            height: 150px;
        }
        & .buttons{
            justify-content: left;
            align-items: center;

            & .send{
                padding: 10x;
                border: none;
                background-color: white;
                color: rgba(61, 66, 105, 0.932);
                width: 150px;
                height: 35px;
            }  
    
            & .clear{
                padding: 10px;
                background-color: rgba(38, 41, 70, 0.932);
                color: white;
                width: 100px;
                height: 35px;
                margin-left: 15px;
                border: 1px solid white;
            }  
    
        }

    }

    .contact-details{
        background-color: rgba(38, 41, 70, 0.932);
        display: grid;
        grid-template-rows: repeat(3, auto);
        height: 380px;
        padding: 0;
        margin: 0;

        & .email, .phone, .address{
            border: 1px solid rgba(61, 66, 105, 0.932);
            padding: 18px;

            & p{
                margin: 0 0 0 58px;
            }
        }
        
    }

}

footer{
    background-color: rgba(61, 66, 105, 0.932);
    text-align: center;
}